<div class="footer container">
  <div class="left-content">
    <i class="fa-regular fa-circle-dot"></i>
    <p>Available for work</p>
  </div>
  <ul class="right-content">
    <li><i class="fa-regular fa-copyright"></i> | Hamja Sultan</li>
    <li>Privacy Policy</li>
    <li>Terms & Condition</li>
  </ul>
</div>
