.body-content{
  display: grid;
  grid-template-columns: 1.2fr 2fr 1.2fr;
  gap: 1.5rem;

  .sec {
    padding: 1rem;
    margin: 2.5rem 0;
  }
  .left {
    margin-top: 1rem;
    margin: 0;
    padding: 0;
  }
  .center{
    margin-top: 1rem;
    margin: 0;
    padding: 0;
  }
  .right{
    padding: 0;
    margin-top: 1rem;
    margin: 0;
  }
}
