.body-content{
  display: grid;
  grid-template-columns: 1.2fr 2fr 1.2fr;
  gap: 1.5rem;

  .sec {
    padding: 1rem;
    margin: 2.5rem 0;
  }
  .left {

    padding: 0;
  }
  .center{

    padding: 0;
  }
  .right{
    padding: 0;
  }
}


.left {
  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    h1 {
    font-size: 2rem;
    }
    h3 {
    font-size: 1rem;
    }
  }
}

center {
  h2 {
    font-size: 1.5rem;
  }
}
